{% extends "layout.html" %}
{% block container %}
{% import "_macros.html" as macros %}


{{ macros.campoNuevo(form.nombre, class='form-control') }}
<form class="max-w-md mx-auto bg-gray-800 p-6 rounded-lg shadow-lg" method="POST" action="{{ url_for('Alumnos1') }}">
    {{ form.hidden_tag() }}

    <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-5 group">
            {{ form.nombre(class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-500 peer", placeholder=" ") }}
            <label for="nombre" class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10">Ingresa tu nombre</label>
        </div>

        <div class="relative z-0 w-full mb-5 group">
            {{ form.apaterno(class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-500 peer", placeholder=" ") }}
            <label for="apaterno" class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10">Ingresa tu apellido</label>
        </div>
    </div>

    <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-5 group">
            {{ form.email(class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-500 peer", placeholder=" ") }}
            <label for="email" class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10">Ingresa tu correo</label>
        </div>
    </div>

    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5">Agregar</button>
    <a href="{{ url_for('index') }}" class="text-white bg-red-700 hover:bg-red-800 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5">Cancelar</a>
</form>


{% endblock %}
